@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);


body,
html {
    padding: 0px;
    margin: 0px;
}

body {

    background-image: linear-gradient(to right, rgba(224, 220, 220, 0.521), white, rgba(255, 255, 255, 0.842), rgba(224, 220, 220, 0.582));
}

* {

    font-weight: 500;
    font-style: italic;
}


.container {
    width: 100%;
    /* height: 100vh; */
    /* background-color: red; */
}


.nav-bar {
    height: 7vh;
    width: 100%;
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.5); */
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    background-color: rgba(190, 182, 182, 0.151);
    align-items: center;
}

nav {
    width: 80%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tory {
    font-size: 24px;
}

.nav-content {
    display: flex;
    list-style-type: none;
    gap: 20px;

}

ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;


}

nav button {
    background: none;
    border: none;
    outline: none;

    display: none;

}


.nav-content2 {
    list-style-type: none;
    position: absolute;
    right: 0px;
    width: 400px;
    background-color: rgba(201, 198, 198, 0.384);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    top: 50px;
}

nav button:focus-within .nav-content2 {
    display: flex;
}



/* nav button:focus{
.nav-content2{
    display: flex;
}
} */



/* 
nav button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer; 
    font-size: 24px; 
    display: none;
}

.nav-content2 {
    list-style-type: none;
    position: absolute;
    right: 0;
    width: 400px;
    background-color: rgba(201, 198, 198, 0.384);
    height: 400px;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 50px;
} */



/* nav button:focus + .nav-content2,
nav button:active + .nav-content2 {
    display: flex; 
}

nav button:focus + .nav-content2,
nav button:active + .nav-content2 {
    display: flex;
} */





.content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 72vh;
}

.content1 {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-name {

    /* font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000; */

    width: 25%;
    /* font-size: 14px; */


}

.content-des {
    text-align: justify;
    font-size: 14px;
    line-height: 30px;

}

.content-image img {
    /* IMG_3232 1 */

    /* position: absolute; */
    width: 400px;
    height: 500px;
    /* left: calc(50% - 571px/2 + 32.5px); */
    /* top: 155px; */

    /* background: url(IMG_3232.jpg); */

}

.content-about {}


.content-about a {
    /* text-decoration: none; */
    font-size: 16px;
    color: black;
}

.me {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.content-about div {
    text-align: center;
}

footer {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 182, 182, 0.26);


}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 20px;
}



@media(max-width:1061px) {
    .content1 {
        width: 90%;
    }

    .footer-content {
        width: 90%;
    }
}

@media(max-width:955px) {
    .content1 {
        width: 90%;
    }

    .me {
        width: 150px;
        height: 150px;
    }

    .footer-content {
        width: 90%;
    }
}

/* @media(max-width:850px) {
    .content1 {
      
    }
}

.footer-content{
    width: 80%;
  
   
} */

@media(max-width:850px) {
    .content {
        height: 110vh;
    }

    .content1 {
        width: 94%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }

    .content-name {
        width: 80%;
    }

    .content-name h3 {
        text-align: center;
    }

    .content-des {
        /* width: 80%; */
        text-align: center;
        line-height: 30px;
        font-size: 14px;
    }

    .me {
        background-color: rgba(224, 222, 222, 0.445);
    }

    footer {
        height: 10vh;
    }

    .footer-content {
        width: 80%;
        /* background-color: red; */

    }


}

@media(max-width:750px) {

    .nav-content {
        display: none;

    }

    nav button {
        display: flex;
        font-size: 20px;

    }

    .nav-content2 {
        width: 340px;
        box-shadow: 0px 0px 1rem;
        background-color: rgba(201, 198, 198, 0.973);
    }

    .content {
        height: 115vh;
    }

    .footer-content {
        width: 90%;
        /* background-color: red; */
    }
}

@media(max-width:620px) {
    .content {
        height: 120vh;
    }

    .me {
        height: 110px;
        width: 110px;

    }

    .me a {
        font-size: 13px;
    }

    footer {
        height: 15vh;
        /* background-color: red; */
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:500px) {
    .content-about {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content-image img {
        /* IMG_3232 1 */

        /* position: absolute; */
        width: 350px;
        height: 450px;
        /* left: calc(50% - 571px/2 + 32.5px); */
        /* top: 155px; */

        /* background: url(IMG_3232.jpg); */

    }

    .nav-content2{
        width: 300px;
    }

}

@media(max-width:420px) {
    .content {
        /* height: 110vh; */
    }



}

@media(max-width:396px) {
    .content {
        /* height: 115vh; */
    }
}

@media(max-width:345px) {
    .content {
        height: 120vh;
    }
}