@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);


body,
html {
    padding: 0px;
    margin: 0px;
}

body {

    background-image: linear-gradient(to right, rgba(224, 220, 220, 0.521), white, rgba(255, 255, 255, 0.842), rgba(224, 220, 220, 0.582));
}

* {
    font-weight: 500;
    font-style: italic;
}


.container {
    width: 100%;
}



.nav-bar {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    background-color: rgba(190, 182, 182, 0.151);
    align-items: center;
}

nav {
    width: 80%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tory {
    font-size: 24px;
}

.nav-content {
    display: flex;
    list-style-type: none;
    gap: 20px;

}

ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;


}

nav button {
    background: none;
    border: none;
    outline: none;

    display: none;

}


.checkBtn {
    font-size: 25px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



.content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 72vh;
}

.content1 {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.coontent-name h1 {
    line-height: 0px;
}

.content-image img {
    width: 400px;
    height: 500px;

}

.content-about {}


.content-about a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.me {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.content-about div {
    text-align: center;
}

footer {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 182, 182, 0.26);


}

.footer-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 20px;
}


.icons a {
    text-decoration: none;
    color: black;
}

@media(max-width:1061px) {
    .content1 {
        width: 80%;
    }
}

@media(max-width:900px) {
    .content1 {
        width: 85%;
    }
}

@media(max-width:850px) {
    .content1 {
        width: 94%;
    }
}

.footer-content {
    width: 80%;
}

@media(max-width:750px) {
    .content {
        height: 85vh;
    }

    .content1 {
        width: 94%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }



    .me {
        background-color: rgba(224, 222, 222, 0.445);
    }

    footer {
        height: 10vh;
    }

    .footer-content {
        width: 80%;
    }


}

@media(max-width:650px) {

    .content {
        height: 86vh;
    }

    .footer-content {
        width: 90%;
        /* background-color: red; */
    }


    .checkBtn {
        display: block;
    }

    .nav-content {
        position: fixed;
        width: 100%;
        height: 50vh;
        background-color: rgba(221, 219, 218, 0.993);
        top: 40px;
        left: -110%;
        text-align: center;
        transition: all .5s linear;

    }


    .nav-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #check:checked~ul {
        left: 0;
    }


}






@media(max-width:600px) {
    footer {
        height: 15vh;
        /* background-color: red; */
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:500px) {
    .content-about {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content-image img {
        /* IMG_3232 1 */

        /* position: absolute; */
        width: 350px;
        height: 450px;
        /* left: calc(50% - 571px/2 + 32.5px); */
        /* top: 155px; */

        /* background: url(IMG_3232.jpg); */

    }

    footer {
        /* background-color: red; */
    }

    .nav-content2 {
        width: 300px;
    }

}